body{
	background-color: yellow;
	
}
h1{
	font-family: verdana;
	font-size:26px;
	color:blue;
}

label{
	font-size:16px;
	text-decoration:underline;
	font-weight:bold;

}

.boton{
	background-color:green;
	color:white;
	margin:10px;
	font-size:16px;
	border-color:black;
	font-weight:bold;
	
}
.ingreso{
	background-color:blue;
	color:white;
	font-weight:bold;
	height:20px;
	font-size:18px;
	border:red solid 2px;
}